.booking-form-grid
    display: grid
    grid-template-columns: repeat(2, minmax(0, 1fr))

.booking-form-column
    padding: 0 10px
    
.booking-form-button
    margin-top: 33px
    width: 100%

.booking-form-availability-button
    margin: 0 10px

.right
    text-align: right

span.duration-text
    font-weight: bold

.booking-form-success
    text-align: center

.booking-form-success > img
    width: 300px
    height: auto
    margin: 20px 0

.booking-form-success > button
    width: 300px
    margin: 20px 0

.booking-form-success > h3
    margin-bottom: 20px
    color: #8596ff

.booking-form-success > p
    color: grey

input.form-control[type="tel"]
    margin-top: 2px !important;
    width: 100%;
    height: 38px;