$button-colour: #91a0ff
$button-colour-focus: #8797ff

#services-list
    list-style-type: none
    padding: 0

.services-list-item
    margin: 25px 0

.add-service-button-wrapper
    margin-top: 25px
    position: relative
    height: 38px

.search-bar
    position: absolute
    left: 0
    width: 300px

.search-bar > input
    border-radius: 20px
    border-color: $button-colour
    z-index: 1

.search-bar > input:focus
    box-shadow: 0 0 0 0.1rem $button-colour

#search-magnifying-glass
    position: absolute
    left: 275px
    top: 12px
    z-index: 2
    color: $button-colour-focus

button.add-service-button
    position: absolute
    right: 0
    height: 32
    width: auto

button.dashboard-page-button
    background-color: $button-colour !important
    border-color: $button-colour !important

button.dashboard-page-button:hover, .dashboard-page-button:focus
    background-color: $button-colour-focus !important

button.dashboard-page-button:focus
    box-shadow: 0 0 0 0 0.2rem

.no-services
    margin-top: 100px
    text-align: center