$form-max-width: 400px
$logo-image-width: 500px 

.auth-form-wrapper
    text-align: center

#logo-image
    width: $logo-image-width
    height: auto

#auth-form
    position: relative
    max-width: $form-max-width !important
    margin: 0 auto

.form-group
    text-align: left

.submit-button
    width: 100%
    margin-top: 12px
    